*{
  box-sizing:  border-box;
}

/* sets the background color */
.App {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  /* actual words of header */
  font-size:60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgba(255,255,255,0.2);
  color: white;
  padding: 25px;
  text-align: right;
  border-bottom: 2px solid white;
}

/* this focuses on the picture */
.logo {
  width: 100px;
  padding-right: 25px;
}

/* this is working on the text input div */
.text-input{
  display: flex;
  flex-direction: row;
  position: absolute;
  border: 5px, black;
  padding: 5px;
  bottom: 0px;
  width: 100%;
  align-content: center;
}

/* styling of text area */
.text-input input{
  background: black;
  color: white;
  flex-grow: 2;
  font-size: 24px;
  border-radius: 25px;
  border: none;
}

/* styling of button */
.text-input button{
  width: 100px;
  font-size: 100%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

/* what happens when you hover */
.text-input button:hover {
  background:greenyellow;
  color: white;
}