*{
  box-sizing:  border-box;
}

/* sets the background color */
.App {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  /* actual words of header */
  font-size:60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgba(255,255,255,0.2);
  color: white;
  padding: 25px;
  text-align: right;
  border-bottom: 2px solid white;
}

/* this focuses on the picture */
.logo {
  width: 100px;
  padding-right: 25px;
}

/* this is working on the text input */
.text-input {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 60px;
  height: 50px;
  border: 1px solid white;
  width: calc(100% - 72px);
  background: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 23px;
  color: white;
  margin-left: 60px;
  margin: 7px;
  padding-left: 17px;
  align-content: center;
}

*:focus {
  outline: none;
}

/* formatting the button */
.sendButton{
  width: 36px;
  height: 36px;
}

.sendButton:hover {
  cursor: pointer;
}

.send{
  border:none;
  background:none;
  position: absolute;
  right: 7px;
  bottom: 10px;
}

/* ths deals with the messaging space formatting*/
.messages{
  overflow: auto;
  height:calc(100% - 180px);
  padding-top:10px;
}

/* all the following works on the bubble formatting */
.bubble-wrap{
  width:100%;
  padding:8px 20px;
  display:flex;
  align-items: center;
  position: relative;
}
.bubble-wrap[from="me"] {
  flex-direction:row-reverse;
}
.bubble{
  border-radius:11px;
  padding: 8px 12px;
  font-size: 14px;
  position:relative;
  margin-left:13px;
}
.bubble:before{
  content:"";
  width:12px;
  height:12px;
  transform:rotate(45deg);
  background:rgb(250,250,250);
  position:absolute;
  left:-4px;
  top:12px
}
.bubble-wrap[from="me"] .bubble:before{
  left:auto;
  right:-6px;
}
.bubble:after{
  content:"";
  background:rgb(250, 250, 250);
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  border-radius:10px;
}
.bubble > span {
  color:black;
  position: relative;
  z-index:101;
}

/* the following style is dedicated to the name picker */
.namePicker {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-left: auto;
}
.username, .edit-username {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}
.name-input {
  background: none;
  border: none;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.cam-button {
  height: 40px;
  width: 40px;
  
}

.pic-button {
  position: absolute;
  display: flex;
  left: 8px;
  bottom: 12px;
  background: lightgoldenrodyellow;
  border: none;
  border-radius: 15px;
}